<body{
 
    background-color:#964BFA;
    color:#B94BFA;
    
}
header{
    margin: 50px;
    background-color: #0C41FA;
    
    Text-size-adjust: 80px;
    justify-content: center;
    border: solid 3px rgb(rgb(94, 255, 0), green, rgb(251, 255, 0));
}
section{
    background-color:#2f016b;
    margin: 60px;
    display: flex;
    padding-top:70;
    padding-bottom:70;
}
