<body{
 
    background-color: black;
    color:rgb(228, 0, 0);
}
header{
    margin: 50px;
    background-color: aquamarine;
    Text-size-adjust: 80px;
    justify-content: center;
}
section{
    background-color: maroon;
    margin: 60px;
    display: flex;
}
padding-top:70;
padding-bottom:70;